<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>To do list</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <main>
        <h1>Welcome to the ToDoList</h1>
        <div class="div-form">
            <h3>Add Task</h3>
            <form action="/save" class="formulario" id="form" method="POST">
                <label for="title" class="label-task-title">Task title</label>
                <input type="text" id="title" name="title" class="input-text-title">
                <label for="text" class="label-task-title">Task</label>
                <textarea id="task" name="task" cols="30" rows="10" form="form" class="task-textarea"></textarea>
                <input type="submit" value="Add task" class="btn-task">
            </form>
        </div>
        <div class="div-tasks">
            <% resultados.forEach((task)=>{ %>
            <div class="each-task">
                <div class="div-titulo">
                    <p><%= task.title %></p>
                </div>
                <div class="div-area">
                    <p><%= task.note %></p>
                </div>
                <div class="div-btn-borrar">
                    <a href="/borrar/<%= task.id %>"><span class="material-symbols-outlined">
                        cancel
                        </span></a>
                </div>
            </div>
            <% }) %>
        </div>
    </main>
</body>
</html>